.box{
    background-color: rgb(246, 251, 255);
    padding: 30px;
    margin: 10px;
    height: 200px;
    border-radius: 30px;
    text-align: start;
}
.box:hover{
    background: #d2f5cd;
    color: rgb(226, 226, 226);
}

