.box{
    background-color: rgb(246, 251, 255);
    padding: 30px;
    margin: 10px;
    height: 200px;
    border-radius: 30px;
    text-align: start;
}
.box:hover{
    background: #3a5866;
    color: rgb(226, 226, 226);
}

form.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

button{
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

select{
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.textbox{
    background: rgb(219, 255, 238);
    border: 1px solid rgba(203, 255, 233, 0.952);
}

.textbox:hover,
.textbox:focus{
    background: #ffffff;
    width: 350px;
    color: #1abc9c;
}

.btn-submit{
    background: #ffffff;
    color: #1abc9c;
}

.btn-submit:hover{
    background: #1abc9c;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
}

