.box{
    background-color: aliceblue;
    padding: 30px;
    margin: 10px;
    height: 200px;
    width: 800px;
    border-radius: 30px;
    text-align: start;
}
.box:hover{
    background: #b0b0ff;
    color: #fff;
}